.App {
    text-align: center;
}

.App-header {
    background-color: #00cccc;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-header h1 {
    margin-bottom: 20px;
}

#Quote {
    text-align: center;
    border: 1px solid;
    width: 300px;
    height: 300px;
    padding: 20px;
    float: left;
    margin: 20px;
}

#Quote h3 {
    vertical-align: top;
}

#Quote p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: bottom;
}

#QuoteButtons {
    vertical-align: bottom;
}