.App {
    text-align: center;
}

.App-header {
    background-color: #00cccc;
    height: 70px;
    padding: 20px;
    color: white;
}

.App-header h1 {
    font-size: 200%;
    vertical-align: top;
}

.content {
    font-size: large;
}

#Quote {
    text-align: center;
    border: 1px solid;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: auto;
}

#Quote h3 {
    vertical-align: top;
}

#Quote p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: bottom;
}