extends layout

block content
    h1.
        Quotes
    ul
        each quote, i in quotelist
            li #{quote.description} - #{quote.author}. #{quote.likes} likes 
                form#formLike(name="addlike", method="put", action="/quotes") 
                    input#inputLikes(type="hidden" name="quoteid" value="#{quote._id.$oid}")
                    button#btnSubmit(type="submit") Like
                
