.App {
    text-align: center;
}

.App-header {
    background-color: #00cccc;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-header h1 {
    margin-bottom: 20px;
}

.Navbar {
    background-color: #30e8e8;
    height: 39px;
    color: white;
}

.Navbar a {
     float: left;
     padding: 10px;
     margin-left: 10px;
     text-decoration: none;
     color: white;
}

.Navbar a:hover {
    background-color: #a3f5f5;
    color: #009999;
}

#Quote {
    text-align: center;
    border: 1px solid;
    width: 300px;
    padding: 20px;
    float: left;
    margin: 20px;
}

#Quote h3 {
    vertical-align: top;
}

#Quote p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: bottom;
}

.quoteButton {
    width: 30%;
    background-color: #00cccc;
    color: white;
    padding: 10px 15px;
    margin: 8px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quoteButton:hover {
    background-color: #009999;
}

